.advantages {
    padding: 70px 0 65px 0;
    min-height: 473px;
    background-color: #F6F6F6;

    .container {
        position: relative;
    }

    &__title {
        color: #0D0D0D;
        text-align: center;
        font-size: 30px;
        font-weight: 700;
    }

    &__wrapper {
        margin-top: 60px;
        display: flex;
        justify-content: space-between;
    }

    &__icon {
        width: 277px;
        text-align: center;

        img {
            display: block;
            margin: 0 auto;
        }
    }

    &__subtitle {
        margin-top: 30px;
        color: #0D0D0D;
        text-align: center;
        font-size: 18px;
        font-weight: 700;
    }

    &__text {
        line-height: 18px;
        margin-top: 20px;
        color: #0D0D0D;
        text-align: center;
        font-size: 14px;
        font-weight: 300;
    }

    &__img {
        &_animated {
            animation: heartbeat 1.5s ease infinite; //необходимы как минимум два параметра
            // animation-name: heartbeat; // имя
            // animation-duration: 1.5s; // время
            // animation-timing-function: ease;
            // animation-iteration-count: infinite;

            &:hover {
                animation-play-state: paused;
            }
        }
    }
}