.vmprs-wrapper {
    width: 100%;
    position: absolute;
    top: 0px;

    img {
        position: absolute;
    }

    .vmprs1 {
        top: 54px;
        right: 154px;
        transform: rotate(70deg);
    }

    .vmprs2 {
        top: 54px;
        right: 167px;
        transform: rotate(-110deg);
    }

    .vmprs3 {
        top: 41px;
        right: 160px;
        transform: rotate(-110deg);
    }
}